.contact-page {
    #contact-map {
        width: 100%;
        height: 580px;
    }
    .title {
        margin-bottom: 18px;
        h3 {
            margin: 0;
            font-size: 30px;
            color: #323232;
            line-height: 28px;
            letter-spacing: -0.02em;
        }
    }
    p {
        color: #777777;
        font-size: 14px;
        line-height: 26px;
        margin: 0;
    }
    p.success {
        color: #38C57A;
    }
    .contact-form {
        margin-top: 50px;
        label.error {
            display: none !important;
        }
        input,
        textarea {
            width: 100%;
            border: 1px solid #E7E7E7;
            padding-left: 20px;
            line-height: 50px;
            height: 50px;
            outline: none;
            margin-bottom: 30px;
        }
        input.error,
        textarea.error {
            border-color: red;
        }
        textarea {
            height: 160px;
            line-height: 50px;
        }
        button {
            background: #38C57A;
            text-transform: uppercase;
            color: #fff;
            font-size: 13px;
            font-weight: 600;
            letter-spacing: .05em;
            border: none;
            outline: none;
            padding: 14px 50px 10px;
        }
    }
}

.single-contact-info {
	text-align: center;
	padding: 80px 14px;
    i {
        font-size: 32px;
        color: #38C57A;
    }
    h3,
    p {
        margin: 0;
    }
    h3 {
        font-size: 18px;
        line-height: 26px;
        color: #333333;
        font-weight: 600;
    }
    p {
        font-family: 'Open Sans';
        font-size: 14px;
        color: #777777;
        line-height: 26px;
        margin-bottom: 15px;
        margin-top: 10px;
    }
    a {
        font-size: 13px;
        text-transform: uppercase;
        color: #323232;
        font-family: 'Open Sans';
        font-weight: 600;
    }
}
