.testimonial-section {
    background: $thm-color-1 url(../img/patterns/2.jpg) center bottom no-repeat;
    background-size: cover;
    padding: 90px 0;
    .left-text {
        border-right: 1px solid #4D4D4D;
        margin-right: 50px;
        padding-top: 40px;
        padding-bottom: 50px;
    }
    .title {
        h3 {
            color: #FFFFFF;
            font-size: 35px;
            font-weight: 600;
            margin: 0;
            margin-bottom: 18px;
            span {
                color: $thm-color-5;
            }
        }
        p {
            font-size: 15px;
            color: #AAAAAA;
            margin-bottom: 45px;
        }
    }
    hr {
        border-color: #4D4D4D;
    }
    .testimonial-nav-btn {
        margin-top: 30px;
        li {
            a {
                width: 33px;
                background: #4D4D4D;
                color: #fff;
                font-size: 16px;
                line-height: 33px;
                display: block;
                text-align: center;
            }
        }
    }
    #testimonial-home-carousel {margin-left: -30px;}
    .single-testimonial-item {
        padding-top: 80px;
        padding-left: 30px;
        > p {
            font-size: 15px;
            line-height: 28px;
            color: #AAAAAA;
            font-family: $opensans;
            font-style: italic;
            margin: 0;
            position: relative;
            &:before {
                content: '\f10e';
                font-family: 'FontAwesome';
                color: #393939;
                font-size: 40px;
                position: absolute;top:0;left:-30px;
                font-style: normal;
            }
            span {position: relative;z-index: 3;}
        }
        .info-box {
            margin-top: 25px;
            .img-box,
            .text-box {
                @extend %dtcv;
            }
            .img-box {
                img {
                    @include sqrRund(65px, 50%);
                }
            }
            .text-box {
                padding-left: 20px;
                h3,
                p {
                    margin: 0;
                }
                h3 {
                    font-size: 17px;
                    font-weight: 500;
                    color: $thm-color-5;
                }
                p {
                    font-family: $opensans;
                    color: #FFFFFF;
                    font-size: 14px;
                    margin: 0;
                    font-style: normal;
                }
            }
        }
    }
}


.testimonial-style-two {
    background: $thm-color-5 url(../img/patterns/3.jpg) center bottom no-repeat;
    background-size: cover;    
    .title {
        margin-bottom: 43px;
        h3 {font-size: 16px;color: #fff;margin: 0;font-weight: 500;line-height: 24px;}
    }
}

.single-testimonial-two {
    img {margin-bottom: 39px;}
    p {font-size: 18px;line-height: 30px;font-weight: 500;margin: 0;color: #fff;}
    h4 {font-size: 17px;color: #fff;font-weight: 500;margin: 0;line-height: 24px;margin-top: 25px;}
    span {font-size: 14px;line-height: 24px;color: #fff;font-style: italic;}
}
