// defined font
$opensans        : 'Open Sans', sans-serif;
$poppins         : 'Poppins', sans-serif;

$browser-context : 14;


// defined color
$thm-color-1     : #323232; // black
$thm-color-2     : #F9F9F9; // gray
$thm-color-3     : #2D2D2D; // gray 2
$thm-color-4     : #2B2B2B; // gray 3
$thm-color-5     : #38C57A; // green
$text-color      : #777777; // paragraph text
$text-color-2    : #b3b3b3; // paragraph text
$text-color-3    : #9B9B9B; // paragraph text
